<!doctype html>
{%- capture dir -%}
	{%- case request.locale.iso_code -%}
	  {%- when 'ae' or 'ar' or 'arc' or 'bcc' or 'bqi' or 'ckb' or 'dv' or 'fa' or 'glk' or 'ha' or 'he' or 'kwh' or 'ks' or 'ku' or 'mzn' or 'nqo' or 'pnb' or 'ps' or 'sd' or 'ug' or 'ur' or 'yi' -%}
	    rtl
	  {%- else -%}
	    ltr
	{%- endcase -%}
{%- endcapture -%}
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ dir }}">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, viewport-fit=cover">
    <meta name="theme-color" content="{{ settings.color_body_bg }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {% render 'head-preload' %}

    {% if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif %}

    <title>
      {{ page_title }}
      {% if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif %}
      {% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {%- unless settings.heading_font.system? and settings.body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {% render 'social-meta-tags' %}

    {{ 'app.css' | asset_url | stylesheet_tag }}

    {% render 'head-variables' %}

  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MFR42R2X');</script>
<!-- End Google Tag Manager -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16828863690"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16828863690');
</script>

    <script>
		window.theme = window.theme || {};
		theme = {
			settings: {
				money_with_currency_format: {{- shop.money_format | json -}},
				cart_drawer: {{- settings.cart_drawer -}},
				product_id: {% if product %}{{ product.id }}{% else %}false{% endif %},
			},
			routes: {
				root_url: '{{ routes.root_url }}',
				cart_url: '{{ routes.cart_url }}',
				cart_add_url: '{{ routes.cart_add_url }}',
				search_url: '{{ routes.search_url }}',
				cart_change_url: '{{ routes.cart_change_url }}',
				cart_update_url: '{{ routes.cart_update_url }}',
				predictive_search_url: '{{ routes.predictive_search_url }}',
			},
			variantStrings: {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        preOrder: `{{ 'products.product.pre_order' | t }}`,
      },
			strings: {
				requiresTerms: `{{ 'sections.cart.terms_confirm' | t }}`,
				shippingEstimatorNoResults: `{{ 'sections.cart.shipping_estimator.no_results' | t }}`,
				shippingEstimatorOneResult: `{{ 'sections.cart.shipping_estimator.one_result' | t }}`,
				shippingEstimatorMultipleResults: `{{ 'sections.cart.shipping_estimator.multiple_results' | t }}`,
				shippingEstimatorError: `{{ 'sections.cart.shipping_estimator.error' | t }}`
			}
		};
    </script>
    {{ content_for_header }}
    <!-- Header hook for plugins -->

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    {{ settings.custom_html_head }}
    <meta name="google-site-verification" content="nizvGKMSm0vucYz3d-RKLRF37KCzlPKjzteli9qbZBY">
  {% include 'pagefly-app-header' %}
  
    {% if customer %} 
      <script>
        if(!window.mixpanel){
            (function (f, b) { if (!b.__SV) { var e, g, i, h; window.mixpanel = b; b._i = []; b.init = function (e, f, c) { function g(a, d) { var b = d.split("."); 2 == b.length && ((a = a[b[0]]), (d = b[1])); a[d] = function () { a.push([d].concat(Array.prototype.slice.call(arguments, 0))); }; } var a = b; "undefined" !== typeof c ? (a = b[c] = []) : (c = "mixpanel"); a.people = a.people || []; a.toString = function (a) { var d = "mixpanel"; "mixpanel" !== c && (d += "." + c); a || (d += " (stub)"); return d; }; a.people.toString = function () { return a.toString(1) + ".people (stub)"; }; i = "disable time_event track track_pageview track_links track_forms track_with_groups add_group set_group remove_group register register_once alias unregister identify name_tag set_config reset opt_in_tracking opt_out_tracking has_opted_in_tracking has_opted_out_tracking clear_opt_in_out_tracking start_batch_senders people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user people.remove".split(" "); for (h = 0; h < i.length; h++) g(a, i[h]); var j = "set set_once union unset remove delete".split(" "); a.get_group = function () { function b(c) { d[c] = function () { call2_args = arguments; call2 = [c].concat(Array.prototype.slice.call(call2_args, 0)); a.push([e, call2]); }; } for (var d = {}, e = ["get_group"].concat(Array.prototype.slice.call(arguments, 0)), c = 0; c < j.length; c++) b(j[c]); return d; }; b._i.push([e, f, c]); }; b.__SV = 1.2; e = f.createElement("script"); e.type = "text/javascript"; e.async = !0; e.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "file:" === f.location.protocol && "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//) ? "https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js" : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"; g = f.getElementsByTagName("script")[0]; g.parentNode.insertBefore(e, g); } })(document, window.mixpanel || []);
        }
        console.log(mixpanel);
        console.log({{customer.id}});
        console.log({
            email: {{ customer.email }},
            name: {{ customer.name }},
            accepts_marketing: {{ customer.accepts_marketing }}
        });
        mixpanel.init('58f70ff2005e9cb708c63f625a9e6b32    
        mixpanel.identify({{customer.id}});
        email && name && mixpanel.people.set({
            email: {{ customer.email }},
            name: {{ customer.name }},
            accepts_marketing: {{ customer.accepts_marketing }}
        });
      </script>
    {% endif %}
  </head>
  <body class="animations-{{ settings.animations }} button-uppercase-{{ settings.button_uppercase }} navigation-uppercase-{{ settings.navigation_uppercase }} product-title-uppercase-{{ settings.product_title_uppercase }}{% if customer %} customer-logged-in{% endif %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} template-{{ template | replace: '.', '-' | handle }}">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MFR42R2X"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <a class="screen-reader-shortcut" href="#main-content">{{ 'accessibility.skip_to_text' | t }}</a>
    <div id="wrapper">
      {%- sections 'header-group' -%}
      {%- sections 'overlay-group' -%}
      <div role="main" id="main-content">
        {{ content_for_layout }}
      </div>
      {% sections 'footer-group' %}
      {% render 'cart-drawer' %}
      {% render 'product-drawer' %}
      {% render 'search-drawer' %}
      <div class="click-capture"></div>
    </div>

    {{ 'vendor.min.js' | asset_url | script_tag }}
    {% if settings.animations %}
      {{ 'animations.min.js' | asset_url | script_tag }}
      <script>
        gsap.defaults({
          ease: Power4.easeOut,
        });
        gsap.config({
          nullTargetWarn: false,
        });
        gsap.registerPlugin(ScrollTrigger);
      </script>
    {% endif %}
    {{ 'slideshow.js' | asset_url | script_tag }}
    {{ 'app.js' | asset_url | script_tag }}
    {%- liquid
      assign add_product_js = false
      if settings.enable_quick_view or settings.enable_quick_add
        assign add_product_js = true
      endif

      if cart != empty and settings.cart_recommendations
        assign add_product_js = true
      endif
    -%}
    {% if add_product_js %}
      <script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
    {% endif %}
    <script type="module" src="{{ 'scroll-shadow.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- if request.design_mode -%}
      {{ 'theme-editor.js' | asset_url | script_tag }}
      {% render 'customer-data' %}
    {%- endif -%}
    {%- if settings.free_shipping -%}
      {{ 'free-shipping.js' | asset_url | script_tag }}
      {{ 'free-shipping.css' | asset_url | stylesheet_tag }}
    {%- endif -%}
    {%- if settings.cart_recommendations -%}
      <script src="{{ 'product-recommendations.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if settings.cart_terms_conditions_enable -%}
      <script src="{{ 'terms-checkbox.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {% render 'back-to-top' %}

    {%- if settings.preload_links -%}
      {%- unless request.design_mode -%}
        <script type="module" src="{{ 'instant-page.js' | asset_url }}" defer="defer"></script>
      {%- endunless -%}
    {%- endif -%}
  </body>
</html>
