{{ 'customer.css' | asset_url | stylesheet_tag }}
<div class="account-main">
  <div class="account-layout">
    {% render 'account-left' %}
    <div class="myaccount-base">
      <div class="myaccount-content">
        <h4>{{ 'customer.orders.title' | t }}</h4>
        {% paginate customer.orders by 5 %}
          {%- if customer.orders.size > 0 -%}
            <table class="no-borders">
              <thead>
                <tr>
                  <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                  <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                  <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                  <th id="ColumnFulfillment" scope="col" role="columnheader">
                    {{ 'customer.orders.fulfillment_status' | t }}
                  </th>
                  {% comment %} <th scope="col" role="columnheader">獲得ポイント</th> {% endcomment %}
                  <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                </tr>
              </thead>
              <tbody role="rowgroup">
                {% for order in customer.orders %}
                  <tr
                    role="row"
                    onclick="window.location.href='{{ order.customer_url }}'"
                  >
                    <td
                      id="RowOrder"
                      role="cell"
                      headers="ColumnOrder"
                      data-label="{{ 'customer.orders.order_number' | t }}"
                    >
                      <span>{{ order.name }}</span>
                    </td>
                    <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                      {{ order.created_at | time_tag: format: 'date' }}
                    </td>
                    <td
                      headers="RowOrder ColumnPayment"
                      role="cell"
                      data-label="{{ 'customer.orders.payment_status' | t }}"
                    >
                      {% if order.financial_status == 'pending' and order.fulfillment_status == 'unfulfilled' %}
                        {{ 'customer.order.cod' | t }}
                      {% else %}
                        {{ order.financial_status_label }}
                      {% endif %}
                    </td>
                    <td
                      headers="RowOrder ColumnFulfillment"
                      role="cell"
                      data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                    >
                      {{ order.fulfillment_status_label }}
                    </td>
                    {% comment %}
                      <td data-loyal-order-id="{{ order.id }}" role="cell">
                        {% if order.metafields.dokopoiAddPoint.dokopoiAddPoint %}
                          {{ order.metafields.dokopoiAddPoint.dokopoiAddPoint }}P
                        {% endif %}
                      </td>
                    {% endcomment %}
                    <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                      {{ order.total_price | money_with_currency }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {%- else -%}
            <p style="margin: 0 0 20px;">{{ 'customer.orders.none' | t }}</p>
          {%- endif -%}
          {% render 'pagination', paginate: paginate, pagination_type: 'paginated' %}
        {% endpaginate %}
      </div>
      {% comment %}
        <div class="myaccount-sidebar">
          <h4>ポイント履歴</h4>
          {% render 'dokopoi-pointhistory' %}
        </div>
      {% endcomment %}
      {% if customer.default_address %}
        <div class="myaccount-sidebar">
          <h4>{{ 'customer.account.details' | t }}</h4>
          <div class="myaccount-sidebar--address">
            <label>{{ 'customer.account.default_address' | t }}</label>
            <address>
              {% if customer.default_address.address1 and customer.default_address.address1 != '' %}
                <br>
                {{ customer.default_address.address1 -}}
              {% endif %}
              {% if customer.default_address.address2 and customer.default_address.address2 != '' %}
                <br>
                {{ customer.default_address.address2 -}}
              {% endif %}
              {% if address.default_address.city %}
                <br>
                {{ customer.default_address.city }},
              {% endif -%}
              {% if address.default_address.province_code %}
                <br>
                {{ customer.default_address.province_code }},
              {% endif -%}
              {% if customer.default_address.zip and customer.default_address.zip != '' %}
                <br>
                {{ customer.default_address.zip -}}
              {% endif %}
              {% if customer.default_address.phone and customer.default_address.phone != '' %}
                <br>
                {{ customer.default_address.phone -}}
              {% endif %}
            </address>
          </div>
        </div>
      {% endif %}
      {% if customer.metafields.crmplus.brithday %}
        <div class="myaccount-sidebar">
          <h4>誕生日</h4>
          <p class="myaccount-sidebar--address">{{ customer.metafields.crmplus.brithday }}</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>
