
<style>
  pagefly-ai-cro {
    display: block;
  }
  pagefly-cart-icon a {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #E2E8F0;
    background: #ffffff;
    }
  pagefly-cart-icon a:hover {
    background: #f3f4f6;
  }
  pagefly-cart-icon svg {
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
  pagefly-cart-icon .header__cart-count {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s;
    position: absolute;
    right: -3px;
    top: -3px;
    border-radius: 50%;
    background: #e74c3c;
  }
  pagefly-cart-icon .header__cart-count.opacity-0 {
    opacity: 0;
    visibility: hidden;
  }
  pagefly-cart-icon .cart-count-number {
    position: relative;
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }
  @media (max-width: 600px) {
    pagefly-cart-icon .header__cart-count.hidden-xs {
      display: none;
    }
  }
</style>

{{ 'pf-ai-sales-page.css' | asset_url | stylesheet_tag }}

{% assign brand_logo = shop.brand.logo | default: shop.brand.square_logo %}

<pagefly-ai-cro>
  <div class='pf-ai-page-header'>
    <a class='pf-text-primary pf-chat-header-info' href="{{ routes.root_url }}">
      {% if brand_logo %}
        <img src="{{ brand_logo | image_url: width: 500 }}" alt="Brand Logo" />
      {% endif %}
    </a>

    <pagefly-cart-icon>
      <a role="button" href="{{ routes.cart_url }}" onclick="event.preventDefault();window.location.assign('{{ routes.cart_url }}');" aria-haspopup="true" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M5.33366 14.6673C5.70185 14.6673 6.00033 14.3688 6.00033 14.0007C6.00033 13.6325 5.70185 13.334 5.33366 13.334C4.96547 13.334 4.66699 13.6325 4.66699 14.0007C4.66699 14.3688 4.96547 14.6673 5.33366 14.6673Z" stroke="#020817" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12.6667 14.6673C13.0349 14.6673 13.3333 14.3688 13.3333 14.0007C13.3333 13.6325 13.0349 13.334 12.6667 13.334C12.2985 13.334 12 13.6325 12 14.0007C12 14.3688 12.2985 14.6673 12.6667 14.6673Z" stroke="#020817" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1.36621 1.36719H2.69954L4.47288 9.64719C4.53793 9.95043 4.70666 10.2215 4.95002 10.4138C5.19338 10.606 5.49615 10.7074 5.80621 10.7005H12.3262C12.6297 10.7 12.9239 10.596 13.1602 10.4057C13.3966 10.2154 13.561 9.95021 13.6262 9.65385L14.7262 4.70052H3.41288" stroke="#020817" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <span class="header__cart-count header-cart-count-{{- cart.item_count }}{% if cart.item_count == 0 %} opacity-0 hidden-xs{% endif %}">
          <span class="cart-count-number">
            {{- cart.item_count -}}
          </span>
        </span>
      </a>
    </pagefly-cart-icon>
  </div>

  <pagefly-ai-page></pagefly-ai-page>

  <pagefly-ai-assistant></pagefly-ai-assistant>
</pagefly-ai-cro>
